body {
background-color: $darken;
color: $font-color;
margin: 40px auto;
max-width: 650px;
text-align: center;
font-size: $base-font-size / 1.5;
padding: 0 10px;
display: block;
};

.quote {
color: $base-font-color;
background-color: $base-background-color;
font-size: 30px;
text-align: center;
};

//would prob want a new page for the below e.g.
$vertical-margin: 10px;
